body {
    font-family: 'Circular Std', 'Open Sans', Arial, Helvetica, sans-serif;
    color: #495057;
    background: #FFFFFF;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}
body #sb-site{
	background: #FFFFFF;
}

iframe{
	border: none;

}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}
img{
	max-width: 100%;
}
input, button, select, textarea{
	background: transparent;
	color: #464a54;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

a {
    color: #005fac;
    text-decoration: none;
	transition: all 0.3s ease 0s;
		-webkit-transition: all 0.3s ease 0s;
		-moz-transition: all 0.3s ease 0s;
		-ms-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
}
	a:hover, a:focus {
		color: #888;
		outline: none;
		text-decoration: none;
	}
	a:hover, a:active {
		text-decoration: none;
	}
	a, a:visited, a:hover {
		outline: none;
	}