/**		24- Media queries		**/
@media screen and (min-width: 1200px) { /* Large Display 1200px and above */
	.content_bar h2{
		clear: both;
		font-size: 32px;
		line-height: 38px;
	}
	.content_bar h3{
		font-size: 28px;
		line-height: 36px;
	}
	.content_bar h4{
		font-size: 26px;
		line-height: 34px;
	}
	.content_bar h5{
		font-size: 24px;
		line-height: 32px;
	}
	.content_bar h6{
		font-size: 22px;
		line-height: 30px;
	}
.content_bar .post p{
	font-size: 18px;
	line-height: 28px;
	margin: 0 0 24px 0;
}
	.content_bar .post ul li:before{
		font-size: 20px;
		line-height: 34px;
	}
	.content_bar .post ul {
		margin: 0 0 10px 0;
	}
	.content_bar .post ul li {
		font-size: 18px;
		line-height: 28px;
		padding-left: 40px;
		padding-bottom: 18px;
	}
	.content_bar .post ol{
		margin-left: 32px;
	}
	.content_bar .post ol li {
		font-size: 18px;
		line-height: 28px;
		padding-bottom: 18px;
	}
	/* blockqoute p */
	.content_bar .post blockquote p{
		font-size: 22px;
		line-height: 36px;
		padding-bottom: 22px;
	}
	/* blockqoute strong */
	.content_bar .post blockquote strong{	
		font-size: 22px;
		line-height: 36px;
	}
	.meta_single{
		font-size: 17px;
		line-height: 24px;
	}
/* .blog_post Ends */

  .pricing_template_2017 .container {
    width: 1200px;
  }
	/* .service_single_7 starts */
		.service_holder_7 > div:nth-child(4n+1){
			clear: both;
		}
	/* .service_single_7 ends */
}

@media screen and (min-width: 992px) and (max-width: 1199px) { /* Default 992px to 1199px */

	/* menu-bar starts from */
		/* .menu-nav starts */
		.menu-bar .main-nav ul li{
			margin: 0 15px;
		}
		.menu-bar .main-nav ul li.menu-item-has-children {
			margin-right: 15px;
		}		
			/* menu-bar Dropdown Starts */


			/* .menu-nav Dropdown Ends */
		/* .menu-nav ends */
	/* menu-bar ends */

	/* .service_single_7 starts */
		.service_holder_7 > div:nth-child(4n+1){
			clear: both;
		}
	/* .service_single_7 ends */

	/**		20- Sidebar and Widgets		**/
	/* side_bar Starts*/
		/* widget_kraft_slider starts */
			.widget_kraft_slider .bx-wrapper .bx-controls-direction a {
				top: 119px;
			}

		/* widget_kraft_slider ends */
		
		/* widget_search, widget_kraft_search Starts*/
		.widget_kraft_search label, .widget_search label{
			margin: 0;
		}
		#s {
			width: 224px;
		}
		/* widget_search, widget_kraft_search Ends*/
	/* sidebar Ends*/	
	

}

@media screen and (min-width: 700px) {
	.overflow_x_700_above{
		overflow-x : scroll;	
	}
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
	.overflow_x_700_1000{
		overflow-x : scroll;	
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) { /* Portrait Tablets 768 to 979 */

	/* .home_banner starts */
	.home_banner{
		padding: 70px 0 0;
	}
		.home_banner .hgroup{
			margin: 0 0 40px;
		}
			.home_banner .hgroup h2{
				font-size: 26px;
				line-height: 30px;
			}
			.home_banner .hgroup h3{
				font-size: 18px;
				line-height: 22px;
			}
		.home_banner .button_group{
			margin: 0 0 16px;
		}
	/* .home_banner ends */

	/* .home_banner_2017 starts */
	.home_banner_2017{
		padding: 62px 0 60px; 
	}
		.home_banner_2017 .hgroup{
			margin: 14px 0 30px;
		}
			.home_banner_2017 .hgroup h1,
			.home_banner_2017 .hgroup h2{
				font-size: 30px;
				line-height: 42px;
				margin-bottom: 20px;
			}
			.home_banner_2017 .hgroup h3{
				font-size: 20px;
				line-height: 28px;
			}
		.home_banner_2017 .button_group{
			margin: 0 0 22px;
		}
			.home_banner_2017 .button_group .button{
				font-size: 16px;
				margin-left: 10px;
				margin-right: 10px; 
				width: 160px;
			}
	/* .home_banner_2017 ends */

	/* menu-bar starts from */
	.menu-bar .logo{
		margin: 34px 0 34px;
		width: 112px;
	}

		/* .menu-nav starts */
		.menu-bar .main-nav{
			margin: 46px 0 0 8px;
		}
		.menu-bar .main-nav ul li{
			margin: 0 8px 13px;
		}
		.menu-bar .main-nav ul li.menu-item-has-children {
			margin-right: 13px;
		}
		.menu-bar .main-nav ul li.menu-item-has-children > a:before{
			font-size: 15px;
		}
		
		.menu-bar .main-nav ul li a{
			font-size: 14px;
		}
		.menu-bar .main-nav ul li.menu-item-has-children > a{
			padding-right: 14px;
		}
			/* menu-bar Dropdown Starts */

			.menu-bar .main-nav  ul > li > ul a,
			.menu-bar .main-nav  ul > li > ul a:link {
				font-size: 12px;
				line-height: 13px;
				padding: 4px 15px;
			}
			.menu-bar .main-nav ul > li > ul > li a.submenu-header{
				font-size: 12px;
				line-height: 12px;
				padding: 0 15px;
			}

			/* .menu-nav Dropdown Ends */
		/* .menu-nav ends */
		
		/* .sec-nav starts */
		.sec-nav{
			margin: 34px 0 7px 0;
		}
		.sec-nav #search_icon {
			margin: 15px 8px 0 6px;
		}
		.sec-nav #help_icon {
			margin:15px 0px 0px 0px;
		}
		.sec-nav .button{
			font-size: 14px;
		}
		
		/* .sec-nav ends */
	/* menu-bar ends */
	
	/* Section Homepage General CSS starts */
	.section_container.section_container_2{
		padding-top: 68px;
		padding-bottom: 68px;
	}
	.db_holder .clients_holder .client_single {
		margin-bottom: 7px;
	}
	/* Section Homepage General CSS ends */
	
	/* .services-tabs starts */
	.services-tabs .services-nav {
		/*text-align: center;*/
	}
	
	.services-tabs .services-nav li {
		display: inline-block;
		float: none;
		font-size: 0;
		margin: 0 5px 15px;
		position: relative;
	}
	.services-tabs .services-nav li a {
		font-size: 14px;
		line-height: 40px;
		padding: 0 18px;
	}
	/* .services-tabs ends */
	
	/* .dashb-tabs starts */
	.dashb-tabs .dashb-nav {
		/*text-align: center;*/
	}
	
	.dashb-tabs .dashb-nav li {
		display: inline-block;
		float: none;
		font-size: 0;
		margin: 0 5px 15px;
		position: relative;
	}
	.dashb-tabs .dashb-nav li a {
		font-size: 14px;
		line-height: 40px;
		padding: 0 18px;
	}
	/* .dashb-tabs ends */
	
	/* .features-menu starts */
		.features-nav ul li a{
			font-size: 12px;
			height: 80px;
			line-height: 15px;
			padding: 20px 8px 0;
			width: 88px;
		}
	/* .features-menu ends */
	
	/* .special-slider-holder starts */
	.special-slider-holder{
		padding: 22px 0 14px 0;
	}
	.special-slider-holder.homes_row{
		padding: 32px 0 24px 0;
	}
	.special-slider-holder.homes_row_17{
		padding: 52px 0 12px 0;
	}
	.special-slider-holder .special_description h2{
		font-size: 18px;
		line-height: 22px;
		margin: 0 0 10px 0;
	}
		.special-slider-holder.homes_row .special_description h2{
			font-size: 18px;
			line-height: 22px;
		}
	.special-slider-holder .special_description p{
		font-size: 16px;
		line-height: 22px;
	}
	.special-slider-holder .special-slider-image{
		margin: 0 0 25px;
	}
	/* .special-pager starts */
	.special-slider-holder .special-pager{
		clear: both;
	}
	.special-slider-holder .special-pager .special_pager_single{
		cursor: pointer;
	}
	.special-slider-holder .special-pager .special_pager_single h3{
		font-size: 16px;
		line-height: 20px;
	}
	.special-slider-holder .special-pager .special_pager_single p{
		font-size: 16px;
		line-height: 20px;
	}
	/* .special-pager ends */
	
	/* solution_form Form starts */
	.solution_bg{
		background-position: left top; 
		margin-top: -28px;
		padding-top: 28px;
	}
	.solution_form form fieldset{
		float: left;
		width: 470px;
		max-width: 470px;
	}
	.solution_form .hs-form fieldset[class*="form-columns-"] .hs-input, .solution_form .hs-form fieldset[class*="form-columns-"] textarea.hs-input{
		width: 438px;
		max-width: 438px;
	}
		.solution_form .hs-form fieldset[class*="form-columns-"] .hs_firstname.field.hs-form-field{
			padding-right: 23px;
		}
		.solution_form .hs-form fieldset[class*="form-columns-"] .hs_lastname.field.hs-form-field{
			padding-left: 23px;
		}
		.solution_form .hs-form fieldset[class*="form-columns-"] select.hs-input{
			max-width: 100%;
			width: 100%;
		}
			.solution_form .hs-form fieldset[class*="form-columns-"] .hs_firstname.field.hs-form-field .input{
				width: 235px;
			}
			.solution_form .hs-form fieldset[class*="form-columns-"] .hs_firstname.field.hs-form-field .hs-input,
			.solution_form .hs-form fieldset[class*="form-columns-"] .hs_lastname.field.hs-form-field .hs-input{
				max-width: 188px;
			}
		.solution_form .hs-form fieldset[class*="form-columns-"] .hs_firstname.field.hs-form-field{
			padding-right: 15px;
		}
		.solution_form .hs-form fieldset[class*="form-columns-"] .hs_lastname.field.hs-form-field{
			padding-left: 15px;
		}
	/* solution_form ends */

	/* .promotion_bar starts */
	.promotion_bar p{
		font-size: 23px;
		line-height: 30px;
	}
	/* .promotion_bar ends */
	
/* .special-slider-holder ends */

	.content_bar h1, .content_bar .h1, .content_bar h1 a, .content_bar .h1 a,  
	.content_bar h2, .content_bar .h2, .content_bar h2 a, .content_bar .h2 a,
	.content_bar h3, .content_bar .h3, .content_bar h3 a, .content_bar .h3 a,
	.content_bar h4, .content_bar .h4, .content_bar h4 a, .content_bar .h4 a, 
	.content_bar h5, .content_bar .h5, .content_bar h5 a, .content_bar .h5 a,
	.content_bar h6, .content_bar .h6, .content_bar h6 a, .content_bar .h6 a{
		margin: 0 0 20px 0;
	}
	.content_bar h1{
		font-size: 34px;
		line-height: 40px;
	}
	.content_bar h2{
		clear: both;
		font-size: 28px;
		line-height: 34px;
	}
	.content_bar h3{
		font-size: 26px;
		line-height: 32px;
	}
	.content_bar h4{
		font-size: 22px;
		line-height: 28px;
	}
	.content_bar h5{
		font-size: 18px;
		line-height: 24px;
	}
	.content_bar h6{
		font-size: 16px;
		line-height: 22px;
	}
	/* content_bar Styling Ends*/	

	/**		18- Internal Section (includes headings group on top)		**/
	/* .internal_header Starts */
		.internal_header{
			/*margin: 50px 0;*/
			padding: 60px 0 18px 0;
		}
		.internal_header .hgroup h2{
			font-size: 60px;
			line-height: 76px;
		}
		.internal_header .hgroup h3{
			font-size: 24px;
			line-height: 34px;
		}
		.internal_header .hgroup h4{
			font-size: 16px;
			line-height: 22px;
		}
	/* .internal_header Ends */

	/**		19- Inner Blog		**/
	/* .blog_post Starts */
		.blog_listing .post{
			margin: 0 0 56px 0;
		}
		.blog_listing.blog_single .post{
			margin: 0;
		}
		.blog_listing .post .post_content .meta_holder{
			display: block;
			margin: 0 0 16px;
			overflow: hidden;
		}
			.blog_listing .post .post_content .meta_holder .title_holder{
				float: left;
				width: 100%;
				padding-right: 110px;
			}
			.blog_listing .post .post_content .meta_holder  .meta_list{
				float: left;
				width: 100%;
				margin: 0;
			}
				.blog_listing .meta_holder .comments{
					position: absolute;
					right: 0;
					top: 12px;
				}
				.blog_listing .meta_holder .comments a{
					font-size: 12px;
					line-height: 24px;
				}
				.blog_listing .meta_holder .comments i{
					font-size: 16px;
				}
				.blog_listing .meta_holder .comments span{
					font-size: 14px;
					margin: 0 4px 0 6px;
				}
				.post .post_title{
					font-size: 32px;
					line-height: 46px;
				}
				.post .post_title a{
					font-size: 32px;
					line-height: 46px;
				}
	/* .blog_post Ends */
	
	/**		20- Sidebar and Widgets		**/
	/* side_bar Starts*/
		/* widget_kraft_slider starts */
			.widget_kraft_slider .bx-wrapper .bx-controls-direction a {
				bottom: 68px;
			}

		/* widget_kraft_slider ends */
		
		/* widget_search, widget_kraft_search Starts*/
		.widget_kraft_search label, .widget_search label{
			margin: 0;
		}
		#s {
			width: 151px;
		}
		/* widget_search, widget_kraft_search Ends*/
	/* sidebar Ends*/
	
	/**      21- Blog Comments Section                  					  **/
	/* comments_section Starts */
	#comments_section {
		margin: 0 0 0 70px;
		padding: 13px 0 20px 0;
	}
	#comments .commentlist .comment .clearing-container img {
		width: 80px;
		height: 80px;
	}
		#comments .commentlist .children {
			margin: 0 0 0 50px;
		}
		#comments .clearing-container .comment_block{
			margin: -14px 0 0 100px;
		}
	/* comments_section Ends */

	/**		22- Shortcodes and Styling		**/
	/**      22.3- Tabs Styles			                 				  **/	
	/*-----------------------------------------------------------------------------------*/
	/* Tab Styles
	/*-----------------------------------------------------------------------------------*/

	
	/**      22.5- Pricing Tables Styles			                 				  **/
	/*-----------------------------------------------------------------------------------*/
	/* Folio Pricing Table Styles		
	/*-----------------------------------------------------------------------------------*/
	.folio_pricing_single .price_block{
		padding: 26px 20px 0;
		vertical-align: top;
	}
	.folio_pricing_single .price_title{
		padding: 10px 0px;
		margin-bottom: 20px;
	}
		.folio_pricing_single .price_title h2{
			font-size: 22px;
			line-height: 25px;	
		}
		.folio_pricing_single .price_title p{
			font-size: 16px;
			line-height: 22px;	
		}
	.folio_pricing_single .price_cost{
		padding: 22px 0 32px;
	}
		.folio_pricing_single .price_cost h3.price{
			font-size: 42px;
			line-height: 42px;
		}
	.folio_pricing_single .pricing_details{
		padding: 22px 0 35px;
	}
		.folio_pricing_single .pricing_details .inc-dec-holder{
			left: 0;
			margin-left: 0;
		}
		.folio_pricing_single .pricing_details .inc-dec-holder .txtpwrUsrAdmin{
			font-size: 13px;
			width: 138px;
		}
	.folio_pricing_single .pricing_details ul{
		margin: 20px 0 15px 0;
	}
		.folio_pricing_single .pricing_details ul li{
			font-size: 15px;
			line-height: 22px;
			padding: 0 0 20px 0;
		}
		.folio_pricing_single .price-quote{
			padding: 30px 20px;
		}
	.folio_pricing_single .price-quote .price-quote-floating{
		padding: 30px 20px;
	}
	.folio_pricing_single .price-quote .button{
		padding-left: 10px;
		padding-right: 10px;
	}

	/**      22.6- Quotes Styles			                 				  **/
	/*-----------------------------------------------------------------------------------*/
	/*	Quotes Styles
	/*-----------------------------------------------------------------------------------*/
		/* quote_styling Starts */
		
		/* blockqoute */ 

		/* quote_styling Ends */
		
	/**		23- 404 section		**/
	/* 404 Page */
	#content_404 {
		width:800px;
		height:530px;
		background:url(../images/404_background_800.jpg) no-repeat center bottom #fff;
		padding-top:40px;
	}
	#content_404 h3 {
		font-size:20px;
		margin:0px 0px 10px;
		padding:90px 120px 0px 260px;
	}
	#content_404 p {
		font-size:13px;
		line-height:20px;
		margin:0px 0px 10px;
		padding:0px 150px 0px 260px;
	}
	
/* .yb-webinars-card starts */		
.yb-webinars-card {
    margin: 10px 0 30px;
    padding: 20px 20px 20px;
    text-align: center;
    width: 100%;
}
.yb-webinars-card .webinar-icon{
	margin-bottom: 8px;
}
.yb-webinars-card h3{
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
}
.yb-webinars-card .date_holder {
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 18px;
}
.yb-webinars-card .button{
	font-size: 14px;
	line-height: 40px;	
}
/* .yb-webinars-card ends */

/* .yb-ebooks-card starts */
.yb-ebooks-card .button{
	line-height: 16px;
	padding-top: 15px;
	padding-bottom: 15px;
}
/* .yb-ebooks-card ends */

	/* .service_single2 starts */
	.service2_holder{
		text-align: center; 
	}
	.service2_2_child .service_single2{
		padding: 54px 45px 0;
	}
	/* .service_single2 ends */
	
	/* .service_single4 starts */
	.service4_holder{
		padding: 0 0 36px 0;
	}
	.service_single4 {
		margin-bottom: 30px;
		padding: 34px;
	}
		.service_single4 h4{
			font-size: 22px;
			line-height: 30px;
		}
	/* .service_single4 ends */

	/* .service_single_6 starts */
	.service_single_6{
		max-width: 370px;
		margin: 0 auto;
		padding-left: 40px;
	}
		.service_single_6 .service_desc .count{
			font-size: 16px;
			height: 30px;
			left: -40px;
			line-height: 26px;
			width: 30px;
		}
			.service_single_6 .service_desc h4{
				font-size: 22px;
				line-height: 32px;
			}
			.service_single_6 .service_desc p{
				font-size: 16px;
				line-height: 22px;
			}
	/* .service_single_6 ends */

	/* .service_single_7 starts */
		.service_holder_7 > div:nth-child(3n+1){
			clear: both;
		}
	/* .service_single_7 ends */
		
/* datasource_single single starts */
.datasource_heading {
	margin-top: 30px;
	margin-bottom: 25px;
}

	.datasource_single .ds_title{
		min-height: 60px;
		padding: 10px 14px;
	}
		.datasource_single .ds_title h4{
			font-size: 15px;
			line-height: 20px;
		}
/* datasource_single single ends */
}

@media screen and (max-width: 767px) { /* Smart Phones to Tablets 481 to 767 */
	
	.col_center_xs{
		display: block;
		float: none;
		margin: 0 auto;	
	}

	/* .home_banner starts */
	.home_banner{
		padding: 70px 0 0;
	}
		.home_banner .hgroup{
			margin: 0 0 40px;
		}
			.home_banner .hgroup h2{
				font-size: 26px;
				line-height: 30px;
			}
			.home_banner .hgroup h3{
				font-size: 18px;
				line-height: 22px;
			}
		.home_banner .button_group{
			margin: 0 0 16px;
		}
	/* .home_banner ends */

	/* .home_banner_2017 starts */
	.home_banner_2017{
		padding: 52px 0 50px; 
	}
		.home_banner_2017 .hgroup{
			margin: 14px 0 30px;
		}
			.home_banner_2017 .hgroup h2{
				font-size: 30px;
				line-height: 42px;
				margin-bottom: 20px;
			}
			.home_banner_2017 .hgroup h3{
				font-size: 20px;
				line-height: 28px;
			}
		.home_banner_2017 .button_group{
			margin: 0 0 22px;
		}
			.home_banner_2017 .button_group .button{
				font-size: 16px;
				margin-left: 10px;
				margin-right: 10px; 
				width: 160px;
			}
	/* .home_banner_2017 ends */
		
	/**       3- Navigation Primary (Sticky Navigation)                   **/
	/* menu-bar starts */
	.top-nav{
		display: none;
		float: none;
	}
	.small_menu{
		display: inline-block;
		float: right;
	}
		.small_menu .menu_small_btn{
			background: none;
			border: 0;
			color: #05b524;
			float: right;
			height: 32px;
			margin: 20px 0 14px;
			position: relative;
			text-align: center;
			transition: all 0.3s ease 0s;
				-webkit-transition: all 0.3s ease 0s;
				-moz-transition: all 0.3s ease 0s;
				-ms-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
			width: 36px;
		}
			.small_menu .menu_small_btn:hover{
				background: none;
			}
			.small_menu .menu_small_btn .open_menu, .small_menu .menu_small_btn .close_menu{
				position: absolute;
				top: 0;
				left: 0;
				cursor: pointer;
				transition: all 0.2s ease 0s;
					-webkit-transition: all 0.2s ease 0s;
					-moz-transition: all 0.2s ease 0s;
					-ms-transition: all 0.2s ease 0s;
					-o-transition: all 0.2s ease 0s;
			}
			.small_menu .menu_small_btn .open_menu{
				z-index: 10;
				opacity: 1;
			}
			.small_menu .menu_small_btn .close_menu{
				opacity: 0;
				z-index: 9;
			}
			.small_menu .menu_small_btn i{
				font-size: 42px;
				line-height: 32px;
				vertical-align: top;
			}
	.menu-bar{
		width: 100%;
	}
	.menu-bar .logo{
		display: block;
		float: none;
		overflow: hidden;
		margin: 10px 0 15px;
		text-align: center;
	}
	.menu-bar .logo img{
		float: left;
		margin-left: 10px;
		margin-top: 5px;
	}
	.menu-bar .main-nav{
		clear: both;
		display: block;
		float: none;
		overflow: hidden;
		margin: 0;
	}
	.menu-bar .main-nav ul{
		display: block;
		float: none;
		margin: 0;
		overflow: hidden;
	}
	.menu-bar .main-nav ul li{
		clear: both;
		display: block;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		float: none;
		list-style: none;
		text-align: left;
		overflow: hidden;
		margin: 0;
		padding: 0;
	}
	.menu-bar .main-nav ul li.menu-item-has-children{
		margin: 0;
	}
	.menu-bar .main-nav ul li a{
		display: block;
		position: relative;
		margin: 0;
		padding: 10px;
	}
	.menu-bar .main-nav ul li.menu-item-has-children > a:before{
		line-height: 34px;
	}
	.menu-bar .main-nav .back_top{
		display: none;
	}
	 
		/* menu-bar Dropdown Starts */
		.menu-bar .main-nav  ul > li > ul {
			border: none;
			border-radius: 0;
				-moz-border-radius: 0;
				-webkit-border-radius: 0;
				-o-border-radius: 0;
				-ms-border-radius: 0;
			left: 0;
			max-width: 100%;
			min-width: 100%;
			padding: 0;
			position: relative;
			text-align: left;
				-webkit-transition: all 0.5s ease 0.1s;
				-moz-transition: all 0.5s ease 0.1s;
				-ms-transition: all 0.5s ease 0.1s;
				-o-transition: all 0.5s ease 0.1s;
				transition: all 0.5s ease 0.1s;
				opacity: 1;
			top: 0;
			width: 100%;
		}
		.menu-bar .main-nav  ul > li > ul > li{
			border: none;
			margin: 0;
		}
		.menu-bar .main-nav  ul > li > ul a,
		.menu-bar .main-nav  ul > li > ul a:link {
			font-size: 14px;
			line-height: 18px;
			margin: 0;
			padding: 8px 0 8px 24px;
			transition: all 0.3s ease 0s;
				-webkit-transition: all 0.3s ease 0s;
				-moz-transition: all 0.3s ease 0s;
				-ms-transition: all 0.3s ease 0s;
				-o-transition: all 0.3s ease 0s;
			text-align: left;
		}
		.menu-bar .main-nav ul > li > ul > li.submenu-header a{
			padding: 8px 0 8px 24px;
		}
		/* menu-bar Dropdown Ends */
	/* .sec-nav starts */
	.sec-nav{
		display: block;
		float: none;
		font-size: 0;
		text-align: center;
	}
	.sec-nav .info_single{
		display: inline-block;
		float: none;
		font-size: 0;
		position: relative;
		vertical-align: top;
	}
	.sec-nav #search_icon {
		display:inline-block;
		float: none;
		padding-bottom: 34px;
		vertical-align: top;
	}
	.sec-nav #help_icon {
		display:inline-block;
		float: none;
		padding-bottom: 34px;
		vertical-align: top;
	}
	/* .sec-nav ends */

	/* .features-menu starts */
		.features-nav{
			clear: both;
			display: none;
			position: absolute;
			top: 100%;
			z-index: 10;
			width: 100%;
		}
		.features-nav ul{
			background: #fff;
			box-shadow: 1px 1px 2px 0 rgba(114, 114, 114, 0.2);
				-moz-box-shadow: 1px 1px 2px 0 rgba(114, 114, 114, 0.2);
				-webkit-box-shadow: 1px 1px 2px 0 rgba(114, 114, 114, 0.2);
				-o-box-shadow: 1px 1px 2px 0 rgba(114, 114, 114, 0.2);
				-ms-box-shadow: 1px 1px 2px 0 rgba(114, 114, 114, 0.2);
			border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-o-border-radius: 5px;
				-ms-border-radius: 5px;
			border: 1px solid #d0d0cb;
			overflow: hidden;
		}
		.features-nav ul li{
			display: block;
		}
		.features-nav ul li a{
			color: #707070;
			font-size: 13px;
			height: auto;
			line-height: 13px;
			padding: 10px 0;
			width: 100%;
		}
		.features-nav ul li.current-menu-item a{
			color: #ffffff;
		}
		.features-nav ul li a:hover{
			color: #ffffff;
			background-color: #2d71a8;
			opacity: 0.8;
			
		}
		.features-nav ul li.current-menu-item a{
			background-color: #2d71a8;
		}
			.features-nav ul li.current-menu-item a:after{
				border-bottom-color: transparent;
			}
		
	/* .features-menu ends */
	
	/* .features-dropdown starts */
	.features_menu_holder {
		margin: 10px 0;
		padding-bottom: 1px;
		position: relative;
		text-align: center;
	}
	.features_menu_holder  .features-dropdown-btn{
		display: block;
		width: 100%;
	}
	/* .features-dropdown ends */
	
	/* Section Homepage General CSS starts */
		.section_container.section_container_2{
			padding-top: 58px;
			padding-bottom: 58px;
		}
		.section_container .hgroup h2{
			font-size: 22px;
			line-height: 32px;
			margin: 12px 0 12px 0;
		}
		.section_container .hgroup h3{
			font-size: 16px;
			line-height: 22px;
		}
		.section_container .hgroup_4{
			margin: 0 0 35px;
		}
		.db_holder .clients_holder .client_single{
			margin-bottom: 7px;
		}
	/* Section Homepage General CSS ends */
	
	/* .services-menu starts */
		.folio-tab-inner .features-dropdown-btn{
			display: block;
			width: 100%;
		}
		.services-tabs .services-nav{
			background: #fff;
			box-shadow: 1px 1px 2px 0 rgba(114, 114, 114, 0.2);
				-moz-box-shadow: 1px 1px 2px 0 rgba(114, 114, 114, 0.2);
				-webkit-box-shadow: 1px 1px 2px 0 rgba(114, 114, 114, 0.2);
				-o-box-shadow: 1px 1px 2px 0 rgba(114, 114, 114, 0.2);
				-ms-box-shadow: 1px 1px 2px 0 rgba(114, 114, 114, 0.2);
			border-radius: 5px;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-o-border-radius: 5px;
				-ms-border-radius: 5px;
			border: 1px solid #d0d0cb;
			display: none;
			overflow: hidden;
			padding: 10px 0;
			text-align: center;
		}
		.services-tabs .services-nav li{
			display: block;
			float: none;
			margin: 0;
		}
		.services-tabs .services-nav li a{
			border: none;
			border-radius: 0;
			color: #707070;
			font-size: 13px;
			height: auto;
			line-height: 13px;
			padding: 10px 0;
			width: 100%;
		}
		.services-tabs .services-nav li a:after{
			border: none;
		}
		.services-tabs .services-nav .ui-tabs-selected a:after, .services-tabs .services-nav .ui-tabs-active a:after{
			border: none;
		}
		.services-tabs .services-nav li.current-menu-item a{
			color: #ffffff;
		}
		.services-tabs .services-nav li a:hover{
			color: #ffffff;
			background-color: #05b524;
			opacity: 0.8;
			
		}
		.services-tabs .services-nav li.current-menu-item a{
			background-color: #05b524;
		}
			.services-tabs .services-nav li.current-menu-item a:after{
				border-bottom-color: transparent;
			}
		
	/* .services-menu ends */
	
	/* solution_form Form starts */
	.solution_bg{
		background: none;
		margin-top: 0;
		padding-top: 0;
	}
	.solution_form form fieldset{
		float: left;
		width: 100%;
		max-width: 100%;
	}
	.solution_form .hs-form fieldset[class*="form-columns-"] .hs-input, .solution_form .hs-form fieldset[class*="form-columns-"] textarea.hs-input{
		width: 92%;
		max-width: 92%;
	}
		.solution_form .hs-form fieldset[class*="form-columns-"] .hs_firstname.field.hs-form-field{
			padding-right: 0;
		}
		.solution_form .hs-form fieldset[class*="form-columns-"] .hs_lastname.field.hs-form-field{
			padding-left: 0;
		}
		.solution_form .hs-form fieldset.form-columns-2 .hs-form-field{
			width: 100%;
		}
		.solution_form .hs-form fieldset[class*="form-columns-"] select.hs-input{
			max-width: 100%;
			width: 100%;
		}
			.solution_form .hs-form fieldset[class*="form-columns-"] .hs_firstname.field.hs-form-field .input{
				width: 100%;
			}
			.solution_form .hs-form fieldset[class*="form-columns-"] .hs_firstname.field.hs-form-field .hs-input,
			.solution_form .hs-form fieldset[class*="form-columns-"] .hs_lastname.field.hs-form-field .hs-input{
				max-width: 92%;
			}
		.solution_form .hs-form fieldset[class*="form-columns-"] .hs_firstname.field.hs-form-field{
			padding-right: 0;
		}
		.solution_form .hs-form fieldset[class*="form-columns-"] .hs_lastname.field.hs-form-field{
			padding-left: 0;
		}
		.solution_form .hs-form fieldset[class*="form-columns-"] .hs-input, .solution_form .hs-form fieldset[class*="form-columns-"] textarea.hs-input{
			
		}
			.solution_form input.hs-input, .solution_form textarea.hs-input, .solution_form select.hs-input, .solution_form .hs-input.uneditable-input{
			
				padding: 9px 4%;
				margin: 0 0 17px 0;
			
			}
	/* solution_form ends */
	
	/* .promotion_bar starts */
	.promotion_bar{
		text-align: center;
		margin-top: 0;
	}
		.promotion_bar p{
			font-size: 22px;
			line-height: 30px;
		}
		.promotion_bar .promotion_cta{
			text-align: center;
			margin-top: 12px;
		}
	/* .promotion_bar ends */

	/* .promo_pricing_bar starts */
	.promo_pricing_bar .text_block{
		padding-top: 40px;
		padding-bottom: 40px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.promo_pricing_bar h4{
		font-size: 24px;
		line-height: 34px;
		margin: 0 0 8px;
	}
	.promo_pricing_bar p{
		font-size: 16px;
		line-height: 24px;
	}
	/* .promo_pricing_bar ends */

	/* .special-slider-holder starts */
	.special-slider-holder{
		padding: 22px 0 14px 0;
	}
	.special-slider-holder.homes_row{
		padding: 22px 0 24px 0;
	}
	.special-slider-holder.homes_row_17{
		padding: 42px 0 12px 0;
	}
	.special-slider-holder .slide_right{
		float: none;
	}
		.special-slider-holder.homes_row .slide_right .special_description{
			padding-right: 0;
		}
		.special-slider-holder.homes_row .special_description{
			padding-left: 0;
		}
	.special-slider-holder .special_description h2{
		font-size: 18px;
		line-height: 22px;
		margin: 0 0 10px 0;
	}
		.special-slider-holder.homes_row .special_description h2{
			font-size: 18px;
			line-height: 22px;
		}
		.special-slider-holder.white_rows .special_description h2{
			margin-bottom: 10px; 
		}
	.special-slider-holder .special_description p{
		font-size: 16px;
		line-height: 22px;
	}
	.special-slider-holder .special-slider-image{
		margin: 0 0 25px;
	}
		.special-slider-holder.homes_row_17 .special-slider-image{
			text-align: center;
		}
	.special-slider-holder.white_rows .special-slider-image{
		margin-top: 0;
	}
	/* .special-pager starts */
	.special-slider-holder .special-pager{
		clear: both;
	}
	.special-slider-holder .special-pager .special_pager_single{
		cursor: pointer;
	}
	.special-slider-holder .special-pager .special_pager_single h3{
		font-size: 16px;
		line-height: 20px;
	}
	.special-slider-holder .special-pager .special_pager_single p{
		font-size: 16px;
		line-height: 20px;
	}
	/* .special-pager ends */
/* .special-slider-holder ends */


	/* footer starts */
	
		/* .detailed_footer starts */
		footer .detailed_footer > div > div > div.menu_widgets_holder > div:nth-child(odd){
			clear: both;
		}
		
		/* .widget_nav_menu starts */
		footer .detailed_footer .widget_copy_text{
			text-align: center;
		}
			footer .detailed_footer .widget_copy_text p{
				color: #ffffff;
				margin: 30px 0 32px;
			}
			footer .detailed_footer .widget_copy_text ul.social-icons{
				display: block;
				overflow: hidden;
				padding: 0;
				font-size: 0;
			}
			footer .detailed_footer .widget_copy_text ul.social-icons li{
				display: inline-block;
				list-style: none;
			}
			footer.dashboard_footer .detailed_footer .menu_widgets_holder{
				text-align: center;
			}
		/* .widget_nav_menu ends */
	/* footer ends */
		
	/**      17- Content area inner Pages    							  **/
	/* Content area is used in between blog top heading section */
	/* content_bar Styling Starts*/ /* Content_bar styling includes for both blog and inner pages */
		/* folio_headings starts */
		.content_bar h2.folio_h2{
			font-size: 32px;
			font-weight: 300;
			line-height: 42px;
			padding: 0 0 0 33px;
			margin: 0 0 30px;
		}
			.content_bar h2.folio_h2:before{
				height: 42px;
				position: absolute;
				left: 14px;
				width: 1px;
			}
		/* folio_headings ends */
	
	.content_bar h1, .content_bar .h1, .content_bar h1 a, .content_bar .h1 a,  
	.content_bar h2, .content_bar .h2, .content_bar h2 a, .content_bar .h2 a,
	.content_bar h3, .content_bar .h3, .content_bar h3 a, .content_bar .h3 a,
	.content_bar h4, .content_bar .h4, .content_bar h4 a, .content_bar .h4 a, 
	.content_bar h5, .content_bar .h5, .content_bar h5 a, .content_bar .h5 a,
	.content_bar h6, .content_bar .h6, .content_bar h6 a, .content_bar .h6 a{
		margin: 0 0 15px 0;
	}
		.content_bar h1{
			font-size: 32px;
			line-height: 38px;
		}
		.content_bar h2{
			clear: both;
			font-size: 26px;
			line-height: 32px;
		}
		.content_bar h3{
			font-size: 24px;
			line-height: 30px;
		}
		.content_bar h4{
			font-size: 20px;
			line-height: 26px;
		}
		.content_bar h5{
			font-size: 17px;
			line-height: 22px;
		}
		.content_bar h6{
			font-size: 15px;
			line-height: 20px;
		}
	.content_bar p{
		font-size: 13px;
		line-height: 19px;
	}

		.content_bar pre {
			font-size: 13px;
			line-height: 19px;
		}	
		.content_bar ul li {
			font-size: 13px;
			line-height: 19px;
		}
		.content_bar ol {
			padding: 0;
		}
		.content_bar ol li {
			font-size: 13px;
			line-height: 19px;
		}
	/* content_bar Styling Ends*/
	
	/**		18- Internal Section (includes headings group on top)		**/
	/* .internal_header Starts */
		.internal_header{
			/*margin: 50px 0;*/
			padding: 60px 0 18px 0;
		}
		.internal_header .hgroup h2{
			font-size: 60px;
			line-height: 76px;
		}
		.internal_header .hgroup h3{
			font-size: 24px;
			line-height: 34px;
		}
		.internal_header .hgroup h4{
			font-size: 16px;
			line-height: 22px;
		}
	/* .internal_header Ends */

	/**		19- Inner Blog		**/
		.post .post_title{
			font-size: 28px;
			line-height: 40px;
		}
		.post .post_title a{
			font-size: 28px;
			line-height: 40px;
		}
	/* .blog_post Starts */
		
	/**		20- Sidebar and Widgets		**/
	/* side_bar Starts*/
	.side_bar{
		padding-left: 15px;
	}
		/* widget_search, widget_kraft_search Starts*/
		.widget_kraft_search label, .widget_search label{
			margin: 0;
		}
		#s {
			width: 80%;
		}
		#searchsubmit{
			width: 20%;
		}
		/* widget_search, widget_kraft_search Ends*/
	/* sidebar Ends*/
	
	/**      21- Blog Comments Section                  					  **/
	/* comments_section Starts */
	#comments_section {
		font-size: 13px;
		margin: 0 0 0 70px;
		padding: 13px 0 20px 0;
	}
	#comments_section h3 {
		color: #000000;
		font-size: 28px;
		line-height: 50px;
		margin: 0 0 20px;
	}
	 
	 #comments_section h3 i{
		font-size: 18px;
	 }
	
	#comments .commentlist .comment .clearing-container img {
		width: 80px;
		height: 80px;
	}
		#comments .commentlist .children {
			margin: 0 0 0 50px;
		}
		#comments .commentlist li { 
			margin: 0 0 15px; 
		}
		#comments .commentlist li cite.fn, #comments .commentlist a.comment-reply-link{
			margin-right: 10px;
		}
		#comments .clearing-container .comment_block{
			margin: -14px 0 0 100px;
			padding: 0 0 20px; 
		}
	/* comments_section Ends */
	
	/**		22- Shortcodes and Styling		**/
	/**      20.1- Column Styles			                 				  **/
	/*-----------------------------------------------------------------------------------*/
	/*	Column Styles
	/*-----------------------------------------------------------------------------------*/
		.folio-one-half,
		.folio-one-third,
		.folio-two-third,
		.folio-three-fourth,
		.folio-one-fourth,
		.folio-one-fifth,
		.folio-two-fifth,
		.folio-three-fifth,
		.folio-four-fifth,
		.folio-one-sixth,
		.folio-five-sixth {
			display: block;
			margin-right: 0;
			float: none;
			width: 100%;
		}
	/**      22.3- Tabs Styles			                 				  **/	
	/*-----------------------------------------------------------------------------------*/
	/* Tab Styles
	/*-----------------------------------------------------------------------------------*/
	.folio-tabs .folio-nav li a {
		padding: 0 30px;
	}
	.folio-tabs .folio-tab {
		padding: 22px 28px;
	}
	
	/**      22.5- Pricing Tables Styles			                 				  **/
	/*-----------------------------------------------------------------------------------*/
	/* Folio Pricing Table Styles		
	/*-----------------------------------------------------------------------------------*/
	.folio_pricing_single{
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.folio_pricing_single .price_title{
		padding: 10px 15px;
	}
		.folio_pricing_single .price_title h2{
			font-size: 22px;
			line-height: 25px;	
		}
		.folio_pricing_single .price_title p{
			font-size: 16px;
			line-height: 22px;
		}
	.folio_pricing_single .price_cost{
		padding: 32px 15px;
	}
		.folio_pricing_single .price_cost .price{
			font-size: 46px;
			line-height: 46px;
		}
	.folio_pricing_single .pricing_details{
		padding: 22px 0 15px;
	}
	.folio_pricing_single .pricing_details ul{
		margin: 20px 0 15px 0;
	}
		.folio_pricing_single .pricing_details ul li{
			font-size: 15px;
			line-height: 22px;
			padding: 0 0 20px 0;
		}
		.folio_pricing_single.have_pricing .price-quote{
			min-height: 206px;
		}

.pricing-tabs .pricing-nav li {
	width: 137px;
}
	.pricing-tabs .pricing-nav li:nth-child(1){
		margin-right: 40px;
		padding-right: 28px;
		text-align: right;
	}
	.pricing-tabs .pricing-nav li:nth-child(2){
		margin-left: 40px;
		padding-left: 28px;
		text-align: left;
	}
	.pricing-tabs .pricing-nav li a {
		font-size: 16px;
		white-space: nowrap;
	}

	/**      22.6- Quotes Styles			                 				  **/
	/*-----------------------------------------------------------------------------------*/
	/*	Quotes Styles
	/*-----------------------------------------------------------------------------------*/
		/* quote_styling Starts */


	/* 404 Page */
	#content_404 {
		height: auto;
		width:100%;
		background:url(../images/404_background_480.jpg) no-repeat right bottom #fff;
		padding:20px 0px 200px;
	}
	#content_404 h3 {
		font-size:24px;
		margin:0px 0px 15px;
		padding:0px 20px;
	}
	#content_404 p {
		font-size:15px;
		line-height:24px;
		margin:0px 0px 15px;
		padding:0px 170px 0px 20px;
	}
	.landing_page_form .hs-form fieldset.form-columns-2 .hs-form-field{
		width: 100%;
		margin-right: 0;
	}
	.content_bar .hs-form .hs-input, .content_bar .hs-form textarea.hs-input{
		width: 95%;
	}
	
	/* webinar_section_heading starts */
		.webinar_section_heading .special_heading{
			font-size: 20px;
			line-height: 24px;
			margin: 0 0 10px;
		}
		.webinar_section_heading p {
			font-size: 16px;
			line-height: 22px;
		}
	/* webinar_section_heading ends */

	/**		9- Services Section		**/
	/* .service_single starts */
	.service_single {
		margin-bottom: 33px;
	}
	.service_single .icon_holder {
		display: block;
		float: none;
		margin-bottom: 15px;
		overflow: hidden;
		text-align: center;
		width: 100%;
	}
	.service_single .service_right {
		clear: both;
		display: block;
		float: none;
		margin-left: 0;
		margin-top: 10px;
		overflow: hidden;
		padding: 0 15px;
		text-align: center;
		width: 100%;
	}
	/* .service_single ends */
	
	/* .service_single2 starts */
	.service2_holder{
		text-align: center; 
	}
	.service2_2_child .service_single2{
		width: 400px;
		padding: 54px 25px 0;
	}
	.service_single2{
		display: inline-block;
		transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			-moz-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
		text-align: center;
		width: 400px;
		max-width: 100%;
	}
	/* .service_single2 ends */

	/* .service_single4 starts */
	.service4_holder{
		padding: 0 0 16px 0;
	}
	.service_single4 {
		margin-bottom: 30px;
		padding: 34px;
	}
		.service_single4 h4{
			font-size: 22px;
			line-height: 30px;
		}
	/* .service_single4 ends */
	
	/* .service_single_5 starts */
	.service_holder_5{
		max-width: 370px;
		margin: 0 auto;
	}
	/* .service_single_5 ends */

	/* .service_single_6 starts */
	.service_single_6{
		max-width: 370px;
		margin: 0 auto;
		padding-left: 40px;
	}
		.service_single_6 .service_desc .count{
			font-size: 16px;
			height: 30px;
			left: -40px;
			line-height: 26px;
			width: 30px;
		}
			.service_single_6 .service_desc h4{
				font-size: 22px;
				line-height: 32px;
			}
			.service_single_6 .service_desc p{
				font-size: 16px;
				line-height: 22px;
			}
	/* .service_single_6 ends */

	/* .service_single_7 starts */
		.service_single_7{
			max-width: 370px;
			margin: 0 auto;
		}
	/* .service_single_7 ends */
	
	/* datasource_single single starts */
	.datasource_heading {
		margin-top: 30px;
		margin-bottom: 25px;
	}
	.datasource_holder > div{
		text-align: center;
	}
	.datasource_single{
		display: inline-block;
		width: 218px;
	}
	/* datasource_single single ends */

	.yb-webinars-card.yb-ebooks-card {
		min-height: auto;
	}
	
	.dashboard_footer .detailed_footer .col_v_middle{
		min-height: auto;
	}
	footer.dashboard_footer .detailed_footer .text_block, footer.dashboard_footer .detailed_footer .back_button{
		text-align: center;
	}
	.pull_last_lg{
		float: none;
	}
	
	/* ebook_container starts */
	.ebook_container{
		text-align: center;
	}
	.cover-frame  {
		margin: 0 auto;
		position: relative;
		max-width: 370px;
	}
	.service_single3{
		margin-left: auto;
		margin-right: auto;
		max-width: 370px;
		min-height: auto;
	}
	.ebook_form_holder .landing_page_form{
		margin-left: auto;
		margin-right: auto;
		max-width: 370px;
		min-height: auto;
	}
	.ebook_form_holder .landing_page_form .button{
		margin-top: 0;
	}
	/* ebook_container ends */
}


@media screen and  (max-width: 480px) { /* Smartphones 480 and Below */
/**       5- Header                                                  **/
.static_banner {
	min-height: 370px;
}
	.text_banner_holder .heading_wrap h1,
	.text_banner_holder .heading_wrap h2{
		font-size: 22px;
		line-height: 28px;
	}

/* .hexa-tabs starts */
.hexa-tabs .hexa-nav li {
	margin: 0 6px;
}
.hexa-tabs .hexa-nav li a {
    font-size: 14px;
	width: 82px;
}
.hexa-tabs .hexa-nav li a span{
	margin: 17px 0 34px;
}
/* .hexa-tabs ends */

/* .special-slider-holder starts */
	/* .special-pager starts */
	.special-slider-holder .special-pager .special_pager_single h3{
		font-size: 13px;
		line-height: 18px;
	}
	.special-slider-holder .special-pager .special_pager_single p{
		font-size: 12px;
		line-height: 16px;
	}
	/* .special-pager ends */
/* .special-slider-holder ends */

/* solution_form Form starts */
	.solution_form .hs-form fieldset[class*="form-columns-"] .hs-input, .solution_form .hs-form fieldset[class*="form-columns-"] textarea.hs-input{
		width: 93%;
		max-width: 93%;
	}
			.solution_form .hs-form fieldset[class*="form-columns-"] .hs_firstname.field.hs-form-field .hs-input,
			.solution_form .hs-form fieldset[class*="form-columns-"] .hs_lastname.field.hs-form-field .hs-input{
				max-width: 93%;
			}
			.solution_form input.hs-input, .solution_form textarea.hs-input, .solution_form select.hs-input, .solution_form .hs-input.uneditable-input{

				padding: 9px 3%;
				margin: 0 0 17px 0;
			
			}

	/* solution_form ends */
	.page_nav{
		margin-left: 0;
	}
	
	/**		19- Inner Blog		**/
	/* .blog_post Starts */
		.post .post_title{
			font-size: 26px;
			line-height: 36px;
		}
		.post .post_title a{
			font-size: 26px;
			line-height: 36px;
		}
		.blog_listing .post .vjs-poster{
			height: 100%;
		}
		
		/* video js starts */
		.blog_listing .post .featured_image .vjs-default-skin .vjs-big-play-button{
			bottom: 24px;
			height: 42px;
			right: 24px;
			width: 42px;
		}
		.blog_listing .post .featured_image .vjs-default-skin div.vjs-big-play-button span:before{
			font-size: 14px;
			line-height: 38px;
		}
		/* video js ends */
		
	/**      21- Blog Comments Section                  					  **/
	#comments_section{
		margin-left: 0;
	}
	/* comments_section Starts */
	#comments .commentlist .comment .clearing-container img {
		width: 60px;
		height: 60px;
	}
		#comments .commentlist .children {
			margin: 0 0 0 40px;
		}
		#comments .clearing-container .comment_block{
			margin: -14px 0 0 80px;
		}
	/* comments_section Ends */
	
		/* 404 Page */
	#content_404 {
		height: auto;
		width:100%;
		background:url(../images/404_background_480.jpg) no-repeat right bottom #fff;
		padding:20px 0px 350px;
	}
	#content_404 h3 {
		font-size:24px;
		margin:0px 0px 15px;
		padding:0px 20px;
	}
	#content_404 p {
		font-size:15px;
		line-height:24px;
		margin:0px 0px 15px;
		padding:0px 20px;
	}
	
	/* Shortcode CTA CARD starts */
	.content_bar .cta_card .cta_content{
		width: 100%;	
		margin-right: 0;
	}
		.content_bar .cta_card h4 {
			margin-bottom: 10px;
		}
		.content_bar .cta_card .cta_content p{
			margin-bottom: 10px;
		}
	.content_bar .cta_card .cta_button{
		display: inline-block;
		width: 100%;
	}
		.content_bar .cta_card .cta_button .button{
			padding: 15px 17px;
			margin: 0;
			width: auto;
		}
	/* Shortcode CTA CARD ends */

	.yb-webinars-card.yb-ebooks-card {
		min-height: auto;
	}
}